odoo-addon-endpoint_route_handler @ git+https://github.com/OCA/web-api.git@refs/pull/117/head#subdirectory=endpoint_route_handler
odoo-addon-rpc_helper @ git+https://github.com/OCA/server-tools.git@refs/pull/3539/head#subdirectory=rpc_helper
